{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %}Ujian Primaseru{% endblock title %}
{% block dashtitle %}
    {{ data.exam_title  }} <span class="badge badge-light">{{ question_count  }}</span>
    <div class="mt-3">
        <a class="btn btn-outline-light" href="{% url 'question-add' data.pk %}">Tambah Soal</a>
    </div>
{% endblock dashtitle %}
{% block maindash %}

    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 mt-4">
        {% for q in question %}
            <div class="col mb-3">
                <div class="card border-0 shadow-sm">
                    <div class="card-header bg-sea text-white">
                        <h6 class="card-title mb-0">
                            Soal No. {{ forloop.counter  }}
                            <a href="{% url 'question-delete' q.exam.pk q.pk %}" class="badge badge-danger">Hapus</a>
                            <a href="{% url 'question-update' q.exam.pk q.pk %}" class="badge badge-warning">Edit</a>
                        </h6>
                    </div>
                    {% if q.question_image %}
                        <img src="{{ q.question_image.url }}" class="card-img-top w-100" alt="Question Image" loading="lazy" />
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ q.question_text  }}</p>
                    </div>
                    <ul class="list-group list-group-flush answer" id="answer-{{ q.pk  }}">
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock maindash %}
{% block js %}
    {{ block.super  }}
    <script type="text/javascript" src="{% static 'exam/js/exam.js' %}"></script>
{% endblock js %}
