{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Ujian Primaseru{% endblock title %}
{% block judul %}
    {{ data.exam_title  }}
{% endblock judul %}
{% block sidebar %}
    <h6 class="judul d-flex justify-content-between align-items-center px-3 mt-4 mb-2">
        <span>Jumlah Soal: <span class="badge badge-danger">{{ question_count  }}</span></span>
    </h6>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'question-add' data.pk %}">
            <span data-feather="home"></span>
            Tambah Pertanyaan
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard-exam' %}">
            Daftar Ujian
        </a>
    </li>
{% endblock sidebar %}
{% block maindash %}

    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-3">
        <div class="row row-cols-1 row-cols-md-4">
            {% for q in question %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-header bg-primary">
                            <h6 class="card-title mb-0 text-white">
                                Soal No. {{ forloop.counter  }}
                                <a href="{% url 'question-delete' q.exam.pk q.pk %}" class="badge badge-danger">Hapus</a>
                                <a href="#" class="badge badge-warning">Edit</a>
                            </h6>
                        </div>
                        {% if q.question_image %}
                            <img src="{{ q.question_image.url }}" class="card-img-top h-50" alt="Question Image" loading="lazy" />
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ q.question_text  }}</p>
                        </div>
                        <ul class="list-group list-group-flush answer" id="answer-{{ q.pk  }}">
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock maindash %}
{% block js %}
    <script type="text/javascript" src="{% static 'exam/js/exam.js' %}"></script>
{% endblock js %}
