{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block dashtitle %}
    Edit Soal
{% endblock dashtitle %}
{% block head %}
    {{ block.super  }}
    <style type="text/css" media="screen">
     .hidden{
         display: none;
     }
    </style>
{% endblock head %}
{% block maindash %}
    <div class="row mt-4">
        <div class="col">
            <div class="list-group shadow">
                <a href="{% url 'exam-detail' exam.pk %}" class="list-group-item list-group-item-action">Kembali</a>
            </div>
        </div>
        <div class="col-md-12 col-lg-10 col-sm-12 m-xl-0 m-lg-0 mt-md-2 mt-sm-2">
            <div class="bg-white rounded shadow p-3">
                <form method="POST" enctype="multipart/form-data" id="form-update">
                    {% crispy form_q %}
                    <div class="formset">
                        {% crispy form_a helper %}
                    </div>
                    <div class="btn-group" role="toolbar" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" id="add-answer">Tambah Jawaban</button>
                        <button type="button" class="btn btn-warning" id="remove-answer">Hapus Jawaban</button>
                        <button type="save" class="btn btn-danger" form="form-update">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock maindash %}
{% block js %}
    <script type="text/javascript" src={% static 'exam/js/question_update.js' %}></script>
{% endblock js %}
