{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block dashtitle %}
    Daftar Ujian
{% endblock dashtitle %}
{% block sidebar %}
{% endblock sidebar %}
{% block maindash %}

    <div class="row row-cols-1 row-cols-lg-4 mt-4 row-cols-md-2">
        <div class="col mb-4">
            <div class="card h-100 shadow">
                <div class="card-header bg-peach text-white">
                    <h5 class="m-0">Tambah Ujian</h5>
                </div>
                <div class="card-body">
                    <p class="card-text justify-content-center align-items-center d-flex h-100">
                        <a class="btn btn-outline-danger btn-lg" href="#" data-toggle="modal" data-target="#addExamModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% for e in exam %}
        <div class="col mb-4">
            <div class="card h-100 shadow">
                <div class="card-header bg-peach text-white">
                    <h5 class="m-0">{{ e.exam_title  }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Author : {{ e.author.full_name  }} <br />
                        <span class="text-muted">{{ e.author  }}</span>
                    </p>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'exam-detail' e.pk %}">
                        Soal
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'exam-update' e.pk %}">
                        Edit
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'exam-delete' e.pk %}">
                        Hapus
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="addExamModal" tabindex="-1" aria-labelledby="addExamModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addExamModalLabel">Tambah Ujian</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="add-exam-form">
                        {% csrf_token %}
                        {{ form|crispy  }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary" form="add-exam-form">Simpan</button>
                </div>
            </div>
        </div>
    </div>
{% endblock maindash %}
