{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block judul %}
    Daftar Ujian
{% endblock judul %}
{% block sidebar %}
{% endblock sidebar %}
{% block maindash %}
    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-3">

        <div class="row row-cols-1 row-cols-md-4">
            {% for q in exam %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-header bg-danger">
                            <h5 class="card-title mb-0 text-white">{{ q.exam_title }}</h5>
                        </div>
                        {% if q.exam_image %}
                            <img src="{{ q.question_image.url }}" class="card-img-top h-50" alt="Question Image" loading="lazy" />
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">
                                Dibuat Oleh: {{ q.author.full_name  }} <br />
                                <span class="text-muted">{{ q.author  }}</span>
                            </p>
                            <a href="{% url 'exam-detail' q.pk %}" class="btn btn-sm btn-outline-danger">Detail</a>
                            <a href="{% url 'exam-update' q.pk %}" class="btn btn-sm btn-outline-secondary">Ganti</a>
                            <a href="{% url 'exam-delete' q.pk %}" class="btn btn-sm btn-outline-secondary">Hapus</a>
                        </div>
                        <ul class="list-group list-group-flush answer" id="answer-{{ q.pk  }}">
                        </ul>
                    </div>
                </div>
                {% if forloop.last %}
                    <div class="col mb-4">
                        <div class="card h-100">
                            <div class="card-header bg-danger">
                                <h5 class="card-title mb-0 text-white">Tambah Ujian</h5>
                            </div>
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <a href="#" id="add-question" class="text-secondary" data-toggle="modal" data-target="#addExamModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" fill="currentColor" class="bi bi-plus-circle mx-auto my-auto" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

    <!-- MODAL -->
    <div class="modal fade" id="addExamModal" tabindex="-1" aria-labelledby="addExamModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addExamModalLabel">Tambah Ujian</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="add-exam-form">
                        {% csrf_token %}
                        {{ form|crispy  }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary" form="add-exam-form">Simpan</button>
                </div>
            </div>
        </div>
    </div>
{% endblock maindash %}
