{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block head %}
    {{ block.super  }}
{% endblock head %}
{% block dashtitle %}
    Daftar Nilai {{ photo.student.full_name  }}
{% endblock dashtitle %}
{% block maindash %}
    <div class="row">
        <div class="col col-sm-2">
            <div class="list-group mt-4 shadow border-0 sticky-top">
                <li class="list-group-item">
                    <img src="{{ photo.image.url }}" alt="photo-profile" class="img-fluid" />
                </li>
                <a href="#" class="list-group-item list-group-item-action disabled judul" tabindex="-1" aria-disabled="true"><b>Data Profile</b></a>
                <a href="{% url 'detail-student' calon_pk %}" class="list-group-item list-group-item-action">Profile</a>
                <a href="{% url 'detail-student-father' calon_pk %}" class="list-group-item list-group-item-action">Ayah</a>
                <a href="{% url 'detail-student-mother' calon_pk %}" class="list-group-item list-group-item-action">Ibu</a>
                <a href="{% url 'detail-student-guardian' calon_pk %}" class="list-group-item list-group-item-action">Wali</a>
                <a href="{% url 'detail-student-major' calon_pk %}" class="list-group-item list-group-item-action">Jurusan</a>
                <a href="{% url 'detail-student-files' calon_pk %}" class="list-group-item list-group-item-action">Berkas</a>
                <a href="{% url 'detail-student-score' calon_pk %}" class="list-group-item list-group-item-action">Ujian</a>
            </div>
        </div>
        <div class="col-lg-10 col-sm-12 col-md-10">
            <div class="table-responsive bg-white rounded p-3 mt-4 shadow">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="w-25">Nama Ujian</th>
                            <th scope="col">Score</th>
                            <th scope="col">Persentase</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in score_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter  }}</th>
                                <td>{{ score.exam  }}</td>
                                <td>{{ score.score  }}</td>
                                <td>{{ score.persentage  }} %</td>
                                <td>
                                    <form method="POST" class="" action="{% url 'detail-student-score-delete' calon_pk score.pk %}">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock maindash %}
