{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    {{ block.super  }}
    <style type="text/css" media="screen">
     form *:disabled{
         color: #000 !important;
     }
    </style>
{% endblock head %}
{% block dahstitle %}
    Detail Profile
{% endblock dahstitle %}
{% block maindash %}
    <div class="row">
        <div class="col pt-2">
            <div class="list-group mt-4 shadow border-0 sticky-top">
                <a href="#" class="list-group-item list-group-item-action disabled judul" tabindex="-1" aria-disabled="true"><b>Data Profile</b></a>
                <a href="{% url 'detail-student-father' calon_pk %}" class="list-group-item list-group-item-action">Ayah</a>
                <a href="{% url 'detail-student-mother' calon_pk %}" class="list-group-item list-group-item-action">Ibu</a>
                <a href="{% url 'detail-student-guardian' calon_pk %}" class="list-group-item list-group-item-action">Wali</a>
                <a href="{% url 'detail-student-major' calon_pk %}" class="list-group-item list-group-item-action">Jurusan</a>
                <a href="{% url 'detail-student-files' calon_pk %}" class="list-group-item list-group-item-action">Berkas</a>
            </div>
        </div>
        <div class="col-10">
            {% crispy form %}
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="changeNameModal" tabindex="-1" aria-labelledby="changeusernameModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeusernameModal">Ganti Nama dan Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary" form="update-student">Simpan</button>
                </div>
            </div>
        </div>
    </div>
{% endblock maindash %}
{% block js %}
    {{ block.super  }}
    <script type="text/javascript" src="{% static 'dashboard/js/d_siswa.js' %}"></script>
{% endblock js %}
