{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <style type="text/css" media="screen">
     /* Chrome, Safari, Edge, Opera */
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
     }
     /* Firefox */
     input[type=number] {
         -moz-appearance: textfield;
     }
     .asteriskField{
         color: red;
         margin-left: 0.25rem;
     }
     .min-vh{
         min-height: 50vh;
     }
    </style>
    <link rel="stylesheet" href="{% static 'primaseru/css/primaseru.css' %}" type="text/css" media="screen" />
{% endblock head %}
{% block main %}

    <div class="row py-2 my-4">
        <div class="col-sm-3 text-center mb-1">
            <img src="{{ photo.image.url }}" alt="photo profile" width="175" height="175" />
        </div>
        <div class="col-sm-9 mb-1">
            <h1>{{ profile.student.full_name  }} <br /> <small class="text-muted">{{ profile.student.email  }}</small></h1>
            <form method="POST" enctype="multipart/form-data" id="photo-profile-form" name="photo-profile-form">
                {% csrf_token %}
                <div class="custom-file">
                    <input type="file" accept="image/*" class="custom-file-input" value="{{ form_ph.image.value }}" id="{{ form_ph.image.auto_id }}" name="{{ form_ph.image.name }}">
                    <label class="custom-file-label" for="{{ form_ph.image.auto_id }}">Upload Photo</label>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 mb-3">
            <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="navigation" aria-orientation="vertical">
                <a class="nav-link tab-profile active" id="v-pills-identity-tab" data-toggle="pill" href="#v-pills-identity" role="tab" aria-controls="v-pills-identity" aria-selected="true">Identitas Diri</a>
                <a class="nav-link tab-profile" id="v-pills-id-ayah-tab" data-toggle="pill" href="#v-pills-id-ayah" role="tab" aria-controls="v-pills-id-ayah" aria-selected="false">Identitas Ayah</a>
                <a class="nav-link tab-profile" id="v-pills-id-ibu-tab" data-toggle="pill" href="#v-pills-id-ibu" role="tab" aria-controls="v-pills-id-ibu" aria-selected="false">Identitas Ibu</a>
                <a class="nav-link tab-profile" id="v-pills-id-wali-tab" data-toggle="pill" href="#v-pills-id-wali" role="tab" aria-controls="v-pills-id-wali" aria-selected="false">Identitas Wali</a>
                <a class="nav-link tab-profile" id="v-pills-major-tab" data-toggle="pill" href="#v-pills-major" role="tab" aria-controls="v-pills-major" aria-selected="false">Jurusan</a>
                <a class="nav-link tab-profile" id="v-pills-files-tab" data-toggle="pill" href="#v-pills-files" role="tab" aria-controls="v-pills-files" aria-selected="false">Berkas</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-identity" role="tabpanel" aria-labelledby="v-pills-identity-tab">
                    <div class="row  rounded py-2 bg-white min-vh shadow mb-4">
                        <div class="card mx-3 mb-3 w-100">
                            <div class="card-body">
                                <h5 class="card-title">Identitas Diri</h5>
                                <p class="card-text">
                                    Silahkang melengkapi data diri Anda sesuai kolom yang tersedia, jika terdapat tanda bintang (<span class="text-danger">*</span>) berarti wajib diisi.
                                    <samp class="text-danger">Data yang sudah terverifikasi tidak bisa diubah.</samp>
                                </p>
                                Status : <span class="badge badge-warning">Belum Terverifikasi</span>
                            </div>
                        </div>
                        {% crispy form_s %}
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-id-ayah" role="tabpanel" aria-labelledby="v-pills-id-ayah-tab">
                    <div class="row rounded py-2 bg-white min-vh shadow mb-4" id="father-content">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-id-ibu" role="tabpanel" aria-labelledby="v-pills-id-ibu-tab">
                    <div class="row  rounded py-2 bg-white min-vh shadow mb-4" id="mother-content">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-id-wali" role="tabpanel" aria-labelledby="v-pills-id-wali-tab">
                    <div class="row  rounded py-2 bg-white min-vh shadow mb-4" id="guardian-content">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-major" role="tabpanel" aria-labelledby="v-pills-major-tab">
                    <div class="row  rounded py-2 bg-white min-vh shadow mb-4">
                        <div class="card mx-3 mb-3 w-100">
                            <div class="card-body">
                                <h5 class="card-title">Pemilihan Jurusan</h5>
                                <p class="card-text">
                                    Silahkan pilih jurusan, jika sudah memilih jurusan, maka pilihan tersebut tidak dapat diubah kembali.
                                </p>
                            </div>
                        </div>
                        {% crispy form_ma %}
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-files" role="tabpanel" aria-labelledby="v-pills-files-tab">
                    <div class="row  rounded py-2 bg-white min-vh shadow mb-4">
                        <div class="card mx-3 mb-3 w-100">
                            <div class="card-body">
                                <h5 class="card-title">Silahkan Unggah Berkas yang Diperlukan.</h5>
                                Status : <span class="badge badge-warning">Belum Terverifikasi</span>
                            </div>
                        </div>
                        {% crispy form_r %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block js %}
    <script type="text/javascript" src="{% static 'primaseru/js/jquery-auto-resize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'primaseru/js/getFormPrimaseru.js' %}"></script>
    <script type="text/javascript" src="{% static 'primaseru/js/primaseru.js' %}"></script>
{% endblock js %}
