{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <style type="text/css" media="screen">
     /* Chrome, Safari, Edge, Opera */
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
     }
     /* Firefox */
     input[type=number] {
         -moz-appearance: textfield;
     }
     .asteriskField{
         color: red;
         margin-left: 0.25rem;
     }
    </style>
    <link rel="stylesheet" href="{% static 'primaseru/css/primaseru.css' %}" type="text/css" media="screen" />
{% endblock head %}
{% block navbar %}{% endblock navbar %}
{% block main %}

    <div class="row py-2 my-4">
        <div class="col-sm-3 text-center">
            <!-- <svg class="bd-placeholder-img rounded" width="175" height="175" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 200x200"><rect width="100%" height="100%" fill="#868e96"></rect></svg> -->
            <img src="{{ profile.image.url }}" alt="photo profile" width="175" height="175" />
        </div>
        <div class="col-sm-9">
            <h1>{{ profile.student.full_name  }}</h1>
            <form method="POST" enctype="multipart/form-data" id="photo-profile-form" name="photo-profile-form">
                {% csrf_token %}
                <div class="custom-file">
                    <input type="file" accept="image/*" class="custom-file-input" value="{{ form_ph.image.value }}" id="{{ form_ph.image.auto_id }}" name="{{ form_ph.image.name }}">
                    <label class="custom-file-label" for="{{ form_ph.image.auto_id }}">Upload Photo</label>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 mb-3">
            <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="navigation" aria-orientation="vertical">
                <a class="nav-link tab-profile active" id="v-pills-identity-tab" data-toggle="pill" href="#v-pills-identity" role="tab" aria-controls="v-pills-identity" aria-selected="true">Identitas Diri</a>
                <a class="nav-link tab-profile" id="v-pills-id-ayah-tab" data-toggle="pill" href="#v-pills-id-ayah" role="tab" aria-controls="v-pills-id-ayah" aria-selected="false">Identitas Ayah</a>
                <a class="nav-link tab-profile" id="v-pills-id-ibu-tab" data-toggle="pill" href="#v-pills-id-ibu" role="tab" aria-controls="v-pills-id-ibu" aria-selected="false">Identitas Ibu</a>
                <a class="nav-link tab-profile" id="v-pills-id-wali-tab" data-toggle="pill" href="#v-pills-id-wali" role="tab" aria-controls="v-pills-id-wali" aria-selected="false">Identitas Wali</a>
                <a class="nav-link tab-profile" id="v-pills-major-tab" data-toggle="pill" href="#v-pills-major" role="tab" aria-controls="v-pills-major" aria-selected="false">Jurusan</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-identity" role="tabpanel" aria-labelledby="v-pills-identity-tab">
                    <div class="row  rounded py-2 bg-white shadow mb-4">
                        {% crispy form_s %}
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-id-ayah" role="tabpanel" aria-labelledby="v-pills-id-ayah-tab">
                    <div class="row  rounded py-2 bg-white shadow mb-4">
                        {% crispy form_f %}
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-id-ibu" role="tabpanel" aria-labelledby="v-pills-id-ibu-tab">
                     <div class="row  rounded py-2 bg-white shadow mb-4">
                        {% crispy form_m %}
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-id-wali" role="tabpanel" aria-labelledby="v-pills-id-wali-tab">
                      <div class="row  rounded py-2 bg-white shadow mb-4">
                        {% crispy form_g %}
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-major" role="tabpanel" aria-labelledby="v-pills-major-tab">
                      <div class="row  rounded py-2 bg-white shadow mb-4">
                        {% crispy form_ma %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block js %}
    <script type="text/javascript" src="{% static 'primaseru/js/jquery-auto-resize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'primaseru/js/primaseru.js' %}"></script>
{% endblock js %}
