{% load crispy_forms_tags %}
<div class="card bg-light mx-3 mb-3 w-100">
    <div class="card-body">
        <h5 class="card-title">Identitas {{ name|capfirst  }}</h5>
        <p class="card-text">
            Silahkan melengkapi data {{ name|capfirst }} Anda sesuai kolom yang tersedia, jika terdapat tanda bintang (<span class="text-danger">*</span>) berarti wajib diisi.
            <samp class="text-danger">Data yang sudah terverifikasi tidak bisa diubah.</samp>
        </p>
        {% if data.verified %}
        Status : <span class="badge badge-success">Terverifikasi</span>
        {% else %}
        Status : <span class="badge badge-warning">Belum Terverifikasi</span>
        {% endif %}
    </div>
</div>
{% crispy form %}
{% if data.verified %}
    <script type="text/javascript">
    $("#{{ name }}-form .form-control").prop('disabled', true);
    $("#{{ name }}-form").submit(() => {
        let alertSuccess = `<div class="alert alert-warning alert-dismissible fade show" role="alert">Data yang sudah diverifikasi, tidak bisa diubah \
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">\
        &times;</span></button></div>`;
        $("#{{ name }}-form").prepend(alertSuccess);
        return false;
    });
    </script>
{% else %}
<script type="text/javascript">
$("#{{ name }}-form").submit(() => {
    $.ajax({
        url: `/profile/{{ name }}/`,
        type: "POST",
        data: $("#{{ name }}-form").serialize(),
        dataType: 'json',
        success: (response) => {
            $("#{{ name }}-form").empty().html(response.form_s);
            let alertSuccess = `<div class="alert alert-success alert-dismissible fade show" role="alert">Berhasil Menyimpan Data {{ name|capfirst }} \
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">\
            &times;</span></button></div>`;
            $("#{{ name }}-form").prepend(alertSuccess);
        },
        error: (response) => {
            $("#{{ name }}-form").empty().html(response.responseJSON.form_s);
        },
    });
    return false;
});
</script>
{% endif %}
